@font-face {
        font-family: "Roboto-Bold";
        src: url("fonts/Roboto/Roboto-Bold.ttf");
      }
@font-face {
        font-family: "Roboto-Regular";
        src: url("fonts/Roboto/Roboto-Regular.ttf");
      }



h1[id="title"] {
        font-family: 'Roboto-Bold';
        font-style: normal;
        
        font-size: 40px;
        
        /* identical to box height */

        text-align: center;
        margin: 60px;
        

        color: #666666;
}

#container {
        gap: 52px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 200px;
        
}

#boxChart {
        width: 700px;
        height: 400px;
        background-color: #fff;
        
        border-radius: 40px;
        padding: 50px 74px 50px 50px;
        box-shadow: 0px 0px 32px -14px rgba(0, 0, 0, 0.25);
}  


#boxAnnexe {
        
        background-color: #fff;
        width: 200px;
        
        border-radius: 40px;
        padding: 10px 10px 10px 10px;
        box-shadow: 0px 0px 32px -14px rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;
        align-items: center;

        
}

#boxAnnexe img {
        width: 120px;
        margin: 20px;
}

#boxAnnexe h1 {
        font-family: 'Roboto-Bold';
        font-style: normal;
        font-weight: 10000;
        font-size: 40px;
        line-height: 47px;
        

        color: #666666;
}


#boxAnnexe p {
        font-family: 'Roboto-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #9E9E9E;
}




#lineSeparator {
        width: 75%;
        border-radius: 15px;
        border: 2px solid #666666;
        margin: 20px 23px;
}



#inputPrice {    
        
        background: #fafafa;
        border: 1px solid #fafafa;
        box-sizing: border-box;
        border-radius: 50px;
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Roboto-Regular';
        padding: 8px 5px;
}
#inputPrice:focus {
        outline: none;
        background: #fcfcfc;
        border: 1px solid #dddddd;
}

#formPrice {
        display: flex;
        flex-direction: column;
        align-items: center;
}

#buttonSetPrice {
        border: none;
        color: white;
        background-color: #FD6083;
        border-radius: 50px;
        padding: 10px 50px;
        cursor: pointer;
}

#buttonAddProduct {
        border: none;
        color: white;
        background-color: #FD6083;
        border-radius: 50px;
        padding: 10px 50px;
        cursor: pointer;
        
        font-size: 20px;
        font-weight: 500;
}

#formAddProduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto
}



@media screen and (max-width: 640px) {
        #container {
                flex-direction: column;
                gap: 50px;
                align-items: center;
                margin: 20px;
                margin-bottom: 100px;
                
        }

        #boxChart {
        width: 250px;
        height: 400px;
        background-color: #fff;
        
        border-radius: 40px;
        padding: 25px 50px 25px 25px;
        box-shadow: 0px 0px 32px -14px rgba(0, 0, 0, 0.25);
        } 
        #boxAnnexe {
                background-color: #fff;
                width: 300px;
                height: 460px;
                border-radius: 40px;
                padding: 10px 10px 10px 10px;
                box-shadow: 0px 0px 32px -14px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                align-items: center;
        }


        #boxAnnexe img {
        width: 120px;
        }

        #boxAnnexe h1 {
                font-family: 'Roboto-Bold';
                font-style: normal;
                font-weight: 10000;
                font-size: 40px;
                line-height: 47px;
                /* identical to box height */

                

                color: #666666;
        }


        #boxAnnexe p {
                font-family: 'Roboto-Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #9E9E9E;
        }




        #lineSeparator {
                width: 75%;
                border-radius: 15px;
                border: 2px solid #666666;
        }

        h1[id="title"] {
                font-family: 'Roboto-Bold';
                font-style: normal;
                
                font-size: 20px;
                
                /* identical to box height */
        
                text-align: center;
                margin: 60px;
                
        
                color: #666666;
        }
}